/**
BASIC HTML OVERRIDES
**/
body{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #7ca9ba;
}

nav > a{
    color:#fff;
}

nav > a:hover{
    color: #ccc;
}

nav{
    background-color: #7ca9ba;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}

b{
    color: #324249;
}

img{
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    margin-bottom: 1em;
    margin-top: 1em;
}

#breadcrumb > a{
    color: white;
    background-color: #7ca9ba;
    padding: 0.5em;
    border-radius: 5em;
}

#breadcrumb > span{
    background-color: #a8b5b9;
    padding: 0.5em;
    border-radius: 5em;
}

canvas{
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}

ul{
    list-style: none;
}

/**
BOOTSTRAP OVERRIDES
**/
.img-rounded{
    border-radius: 1em;
}

.badge{
    font-size: 1em;
}

.badge-primary{
    background-color: #c2e3f0;
    color: #244;
}

.badge-secondary{
    background-color: #3d545e;
}

/**
CUSTOM CLASSES
**/
.match{
    background: #7ca9ba;
}

.university img{
    display: block;
    box-shadow: 0px 0px 0px white;
    width: 100%;
}

.portrait .name{
    margin-top: 1em;
}

.arrows{
    margin-top: 2em;
    margin-bottom: 2em;
    color: #788;
    cursor: pointer;
}

.arrows:hover{
    color: #566;
}

.arrows.disabled, .arrows.disabled:hover{
    color: #cdd;
    cursor: default;
}

.portrait{
    border-radius: 2em;
    background-color: #a6d5e6;
    margin-top: 0em;
}

.portrait:nth-of-type(even){
    margin-top: 1em;
    background-color: #9eb8c2;
    border: 1em solid white;
    border-bottom-width: 2em;
    border-radius: 3em;
}

.timeline-item{
    padding: 1em;
    border-radius: 2em;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    background-color: #a6d5e6;
    margin-bottom:2em;
}

.timeline-author{
    font-weight: 600;
}

.timeline-item:nth-child(even){
    background-color: #9eb8c2;
    margin-left: 3em;
    margin-right: -3em;
}

.timeline-date{
    font-weight: 800;
}

.handCursor{
   cursor: pointer;
}

/**
CUSTOM ID's
**/
#bib-list{
    list-style-type: disc;
}

#defaultCanvas0{
    width: 100vw;
}

#content{
    position: absolute;
    z-index: 99;
    padding: 2em;
    width: 100vw;
    height: 80vh;
    margin-top: 5vh;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    overflow-y: scroll;
}

#pageContent{
    padding-top: 1em;
    padding-left: 8em;
    padding-right: 8em;
}

#charity{
    list-style-type: none;
    margin-left: 0em;
}